on:
  push:
    tags:
      - 'v*'

name: Release

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build binaries
        run: |
          make build-release

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "$(git describe --tags)" dist/* --notes "TODO" --title "Release $(git describe --tags)"
